#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 8px;
  background: #eee;
  align-items: center;
  display: block;
}

body {
  font-family: Helvetica;
  display: block;
  align-items: center;
}

h1, h2, h3 {
  text-align: center;
  align-items: center;
}

figure {
  display: block;
  align-items: center;
  padding-bottom: .1rem;
  border-radius: 10px;
}

#image {
  display: block;
  width: 60%;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 40px; 
  align-items: center;
}

#img-div {
  display: block;
  background: white;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

#img-caption {
  margin: 0 0 50px 0;
}

sup {
  font-size: .65em
}

p {
margin: 20px;
}

footer {
  text-align: center;
}
